@use "../../styles/variables" as *;
.select-container {
  display: flex;
  margin: auto;
  font-size: 32px;
  font-family: $font-title;
  color: $color-light-gold;
}

label {
  margin: 0rem 1rem 0rem 1rem;
}
